<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id"
		content="396035704688-p0n9oka496g6afpig5tjtuvvugn6rgic.apps.googleusercontent.com">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
	<title>ShopList</title>
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<div class="content">
				<!-- ? HEADER -->
				<header class="content-header">
					<div class="content-burger">
						<button class="content-burger__button icon">
							<img src="images/header/burger.svg" alt="Burger">
						</button>
						<a href="#" class="content-burger__logo">
							<img src="images/header/logo.png" alt="Logo">
							<span>Keep</span>
						</a>
					</div>
					<div class="content-search">
						<form class="content-form">
							<button class="content-search__img content-search__start">
								<img src="images/header/loop.svg" alt="">
							</button>
							<input class="content-search__input" type="text" placeholder="Поиск">
							<button class="content-search__img content-search__end">
								<img src="images/header/cross.svg" alt="">
							</button>
						</form>
						<div class="content-icons">
							<button class="bg-gray icon"><img src="images/header/ref.svg" alt=""></button>
							<button class="bg-gray icon"><img src="images/header/status.svg" alt=""></button>
							<button class="bg-gray icon"><img src="images/header/sett.svg" alt=""></button>
						</div>
					</div>
					<div class="content-settings">
						<button class="bg-gray icon"><img src="images/header/service.svg" alt=""></button>
						<button class="bg-gray icon"><img src="images/header/avatar.svg" alt=""></button>
					</div>
				</header>
				<!-- ? SIDEBAR -->
				<aside class="content-aside">
					<nav class="nav">
						<div class="nav-container">
							<div class="nav-list">
								<div role="button" class="nav-list__icon hover-color">
									<img src="images/aside/check.svg" alt="">
									<span class="nav-list__text"> Notate </span>
								</div>
								<div role="button" class="nav-list__icon">
									<img src="images/aside/notification.svg" alt="">
									<span class="nav-list__text"> Notifications </span>
								</div>
								<div role="button" class="nav-list__icon">
									<img src="images/aside/change.svg" alt="">
									<span class="nav-list__text"> Changes </span>
								</div>
								<div role="button" class="nav-list__icon">
									<img src="images/aside/archive.svg" alt="">
									<span class="nav-list__text"> Archives </span>
								</div>
								<div role="button" class="nav-list__icon">
									<img src="images/aside/trash.svg" alt="">
									<span class="nav-list__text"> Trash </span>
								</div>
							</div>
							<!-- <div class="nav-license">
								<a href="https://ssl.gstatic.com/keep/licenses/web_client_licenses.txt" target="_blank" class="nav-license__link" tabindex="0">Лицензии открытого ПО</a>
							</div> -->
						</div>
					</nav>
				</aside>
				<!-- ?Main -->
				<main class="content-main" ng-controller="mainCtrl">
					<div class="main-block">
						<input type="text" placeholder="Notate..." ng-model="boba">
						<div class="main-block__button" ng-click="addPost(boba)">
							CLICK
						</div>
						<div class="g-signin2" data-onsuccess="onSignIn"></div>
					</div>
					<div ng-repeat="biba in books">{{biba.name}}</div>

				</main>
			</div>
		</div>
	</div>


</body>

</html>